/* GENERAL */
* {
    transition: 0.3s;
}

.body-container {
    height: 100vh;
}

.main-content {
    padding: 50px;
    color: #184018;
}

.main-content a {
    color: #184018;
}

.main-content a:hover {
    color: white;
}

.margin{
    margin-top: 20px;
}

.margin-left{
    margin-left: 15px;
}
.margin-bottom{
    margin-bottom: 20px;
}

.title {
    border-left: 2px rgba(185, 226, 165, 0.9) solid;
    padding-left: 10px;
}

.main-content .btn, btn:hover {
    color: white;
}

.green-button {
    background-color: #91B77E;
}

.green-button:hover {
    background-color: #638d4c;
}

.red-button {
    background-color: rgb(200, 0, 0);
}

.red-button:hover {
    background-color: darkred;
}

#edit {
    color: white;
}

#edit:hover {
    color: #999999;
}

#editable {
    display: inline;
}

#editable:hover + #edit {
    color: #999999;
}

.dimgray{
    color: dimgray;
}

.white {
    color: #ffffff;
}

.fa-arrow-left {
    font-size: 20px;
    display: block;
    position: absolute;
    margin-top: -30px;
    left: 20px;
}

/* LOGIN */
.logo-login img {
    position: absolute;
    width: 250px;
    top: 250px;
}

@media screen and (max-width: 1200px) {
    .logo-login img {
        width: 15%;
    }
}

/* HEADER */
.header {
    position: relative;
    height: 10vh;
    background: rgb(160, 197, 141);
    background: linear-gradient(90deg, rgba(160, 197, 141, 1) 10%, rgba(118, 158, 99, 1) 81%, rgba(118, 158, 99, 1) 83%);
    z-index: 50;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2.5vh;
}

.sidebar-toggle {
    margin-top: 10px;
    color: #3e3e3e;
}

.notification {
    position: relative;
    left: 30px;
}

.notification-count {
    position: absolute;
    width: 30px;
    height: 20px;
    background: #a84909;
    border-radius: 13px;
    margin-top: 20px;
    margin-right: -10px;
    cursor: pointer;
    font-weight: 900;
}

.notification-list {
    transition: none !important;
}

/* FOOTER */
.footer {
    height: 6vh;
    background: rgb(203, 243, 184);
    background: linear-gradient(90deg, rgba(185, 226, 165, 0.9587185215883228) 24%, rgba(160, 197, 141, 0.9026961126247374) 53%, rgba(137, 181, 116, 0.89) 97%);
    padding: 1.5vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* SIDEBAR */
#sidebar {
    position: relative;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    flex: none;
    width: 20%;
}

#sidebar ul {
    text-decoration: none;
    list-style: none;
    margin-top: 30%;
    margin-left: 25%;
}

#sidebar .active {
    font-weight: bold;
}

#sidebar #logo {
    width: 70%;
    margin: 10%;
    height: auto;
}

#sidebar i {
    margin-right: 10px;
}

#sidebar li a {
    color: dimgrey;
}

#sidebar li a:hover {
    color: #91B77E;
}

/*INDEX*/
.card {
    width: 18rem;
}

.card-title a:hover, .fa-arrow-left:hover {
    text-decoration: none;
    color: #91B77E;
}

.card-text {
    font-size: 0.9em;
}

/*GARDEN_DETAIL*/
.area {
    height: 28%;
    padding: 30px 0;
    border-radius: 3px;
    background-color: rgba(145, 183, 126, 0.5);
    margin-right: 10px;
}

.area:hover, .area-info .infos:hover {
    background-color: rgba(118, 172, 90, 0.5);
}

.area a {
    font-weight: bold;
}

.garden .weather-days {
    width: 200px;
    border: 1px rgba(185, 226, 165, 0.6) solid;
    border-radius: 5px;
}

/*AREA DETAIL*/
.area-info .area {
    height: 150px;
    margin: 15px;
    padding: 50px 0;
}

.area-info h6 {
    position: absolute;
    top: -25px;
    color: dimgray;
}

.area-info p {
    width: 50%;
    margin: auto;
    font-size: 1em;
    font-weight: bold;
}

/* WEATHER */
.weather-box h3 {
    padding: 10px 0 0 20px;
    font-weight: normal;
}

.weather-days li {
    list-style: none;
}

.weather-days .day {
    border-left: 1px rgba(185, 226, 165, 0.6) solid;
    min-width: 150px;
}

.weather-days .day:first-child {
    border: 0;
}

.weather-image-icon {
    width: 80px;
    height: 80px;
}

.weather-days .weather-info-list {
    padding: 20px 40px 20px 40px;
}

.weather-info-list li {
    font-size: 14px;
    font-weight: lighter;
    color: dimgray;
    padding: 2px 0 4px 0;
}

.weather-info-list .weather-description {
    font-size: 15px;
    font-weight: 600;
}

/* CALENDAR */
.calendar {
    font-size: 13px;
}

.calendar a:hover{
    color: #184018;
}
.calendar tr, .calendar td {
    border: 0.3px solid #184018;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 100px;
    height: 45px;
    padding: 20px 0 0 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0 5px 0 20px;
}

/* TIMER */

.timer {
    height: 250px;
    background-color: #BCE2A9;
    border-radius: 8px;
    padding: 20px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    margin-bottom: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.irrigation-list {
    max-height: 300px;
    overflow-y: auto
}

#edit-title, .settings .dropdown-toggle {
    display: inline;
}

.settings a:hover{
    color: #184018;
}

.description {
    padding: 40px;
}