<div>
    <div class="dropdown" style="float:right; margin-top: -35px">
        <button class="btn green-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Vista
        </button>
        <div class="dropdown-menu chart">
            <a class="dropdown-item" onclick="updateWeek()" href="#">Settimanale</a>
            <a class="dropdown-item" onclick="updateMonth()"href="#">Mensile</a>
        </div>
    </div>
    <canvas id="watering-chart"></canvas>
</div>

<script>

    var config = {
        type: 'line',
        data: {
            datasets: [{
                data: [{% for i in irrigation_list %}{{ i.get_duration }}, {% endfor %}],
                backgroundColor: [
                    'rgba(99,138,255, 0.4)',
                ],
                label: 'durata irrigazione',
            }],
            labels: [{% for i in irrigation_list %}'{{ i.start |date:"Y-m-d"  }}', {% endfor %}],
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'month'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    };

</script>
