<div class="card margin-bottom">
    <div class="card-header">
        <h3> Ultime piogge</h3>
    </div>
    <div class="card-body">
        {% if rain_list %}
            <ul class=" irrigation-list list-group list-group-flush">
                {% for item in rain_list %}
                    <li class="list-group-item">
                        <p> Data: {{ item.start }} <br>
                            Durata: {{ item.get_duration }} minuti
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Non sono ancora state registrate piogge </p>
        {% endif %}

    </div>

</div>