{% extends 'layout/base.html' %}
{% block content %}
    <h1 id="editable" style="display: inline">{{ area.name }}</h1>
    <a id="edit" href="../area_update"><i class="fas fa-pen"></i></a>
    <div class="area-info">
        <ul>
            <div class="infos">
                <h6>Umidità</h6>
                <h3>{{ area.humidity }}%</h3>
            </div>
            <div class="infos">
                <h6>Ultima irrigazione</h6>
                <p>{{ area.last_irrigation }}</p>
            </div>
            <div class="infos">
                <h6>Tipo di irrigazione</h6>
                <h3>{{ area.get_irrigation_type_display }}</h3>
            </div>
        </ul>
    </div>

    <div class="area-options">
        {% if area.irrigation_type == 'M' %}
        <a class="btn btn-primary green-button" href="../manual_irrigation">Vai a irrigazione</a>
    {% endif %}
        <a class="btn btn-primary create-btn-delete" href="../area_delete">Elimina l'area</a>
    </div>

{% endblock content %}