{% extends 'layout/base.html' %}
{% block content %}
    <h1 class="title" id="editable">{{ area.name }}</h1>
    <a id="edit" href="../update/area"><i class="fas fa-pen"></i></a>
    <div class="area-info margin col-9" style="padding: 12px; ">
        <div class="row text-center">
            <div class="area col-3">
                <h6>Umidità</h6>
                <h3>{{ area.humidity }}%</h3>
            </div>
            <div class="area col-3">
                <h6>Ultima irrigazione</h6>
                <p>{{ area.last_irrigation }}</p>
            </div>
            <div class="area col-3">
                <h6>Tipo di irrigazione</h6>
                <h3>{{ area.get_irrigation_type_display }}</h3>
            </div>
        </div>

    </div>
    <div class="col margin">
        <a class="btn green-button" href="../irrigation/{{ area.irrigation_type }}">
            Vai a irrigazione</a>
        <a class="btn red-button" href="../delete/area">Elimina l'area</a>
    </div>

{% endblock content %}