{% extends 'layout/base.html' %}
{% block content %}
    <div class="col-12">
        <h1>Irrigazione calendarizzata della zona {{ area.name }}</h1>
    </div><br>
    <div class="row settings">
        <div class="col-4 margin-left">
            <p class="description">
                Questa area viene annafiata <br>
                {{ irrigation_settings.get_frequency_display }}
                giorni per {{ irrigation_settings.duration }}
            </p>
            <a class=" dropdown-toggle" data-toggle="collapse" href="#settings" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                <h4 id="edit-title">modifica le impostazioni</h4>
            </a>

            <div class="col collapse margin" id="settings">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="margin">
                        <input class="btn green-button" type="submit" value="Salva">
                        <a class="btn  green-button" href="/">Annulla</a>
                    </div>

                </form>
            </div>

        </div>
        <div class="col-3"></div>
        <div class="col-4">
            {% include 'includes/irrigation_list.html' %}
        </div>
    </div>

{% endblock content %}