{% extends 'layout/base.html' %}
{% block content %}
    {% include 'dashboard/search_results.html' %}

    <div style="width: 700px">
        <div class="row margin-bottom">
            <div class="col-4 ">
                <a class="btn green-button" href="{% url 'agenda:calendar' %}?{{ prev_month }}"> Previous
                    Month </a>
            </div>
            <div class="col-4 text-center">
                <a class="btn green-button" href="new/"> New Event </a>
            </div>
            <div class="col-4">
                <a class="btn float-right green-button " href="{% url 'agenda:calendar' %}?{{ next_month }}"> Next Month </a>
            </div>
        </div>
    </div>

    {{ calendar }}


    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $(function () {
                $('.event_caption').popover({trigger: 'hover'});
            });
        });
    </script>
{% endblock %}