{% extends 'layout/base.html' %}
{%  block content %}
    <h1>{{ garden }}</h1>
    <h3>{{ garden.city }}</h3>
    <ul>
    {% for area in garden.area_set.all %}
        <li>{{ area.name }}</li>
        <ul>
            <li>Umidità: {{ area.humidity }}%</li>
            <li>Ultima irrigazione : {{ area.last_irrigation }}</li>
            <li>tipo di irrigazione: {{ area.get_irrigation_type_display }}</li>

        </ul>
    {% endfor %}

    </ul>
    <a href="../area_create/"> Aggiungi una nuova area</a><br>
    <a href="../event_create/"> Aggiungi un nuovo evento</a>
{% endblock content %}

