{% extends 'layout/base.html' %}
{% load static %}

{%  block content %}
    {% if garden_list %}
        <div class="row">
        {% for garden in garden_list %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static "images/" %}{{garden.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/{{ garden.id }}/">{{ garden.name }} </a></h5>
                        <p class="card-text">Last rain on {{ garden.last_rain }}</p>
                        <p class="card-text">Prossima pioggia prevista fra: </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Crea un giardino</p>
    {% endif %}
    <div class="row">
        <a class="btn btn-primary green-button" href="garden_create/" style="margin: 30px 0 0 15px"> Aggiungi un nuovo giardino</a>
    </div>

{% endblock content %}

