{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-11" >
                <h1 style="padding-left: 15px">Meteo</h1>
            {% if garden_list %}
                {% for item in weather_list %}
                    <div class="col dimgray">
                        <h3>{{ item.0 }}</h3> {# city #}
                    </div>
                    <div class="weather-days row">
                        {% for item in item.1.weather_info %}
                                <div class="col-2 day weather-info-list text-center margin-bottom">
                                    <p class="day-of-week">{{ item.0.day }}</p>
                                    <img class="weather-image-icon" src="{% static item.1 %}" alt="Weather icon">
                                    <p class=" d-none d-md-block weather-description">{{ item.0.description }}</p>
                                    <p style="color:#de2632"><b>{{ item.0.temperature_max | floatformat }}°C</b></p>
                                    <p style="color:#1fa8de"><b>{{ item.0.temperature_min | floatformat }}°C</b></p>
                                    <i class="d-inline d-lg-none fas fa-tint dimgray"></i>
                                    <p class="d-none d-md-inline"><b>precipitazioni:</b></p><p class="d-inline" ><b> {{ item.0.precipitation }}</b></p>
                                </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <h5>Non ci sono luoghi salvati</h5>
            {% endif %}
        </div>
    </div>
{% endblock content %}
