{% extends 'layout/../layout/base.html' %}
{% block content %}

        <div class="container" style="max-width:930px;">
            <div class="row" id="calendar" >
                    <div class="col-md-4 col-5 margin-bottom " id="prev">
                        <a class="btn green-button" href="{% url 'agenda:calendar' %}?{{ prev_month }}"> Precedente
                        </a>
                    </div>
                    <div class="col-md-4 col-5 text-center">
                        <a class="btn green-button" href="new/"> Nuovo evento </a>
                    </div>
                    <div class="col-md-4 col-5" id="next">
                        <a class="btn  green-button float-md-right"
                           href="{% url 'agenda:calendar' %}?{{ next_month }}">
                            Successivo</a>
                    </div>
                {{ calendar }}
            </div>
        </div>


    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $(function () {
                $('.event_caption').popover({trigger: 'hover'});
            });
        });
    </script>

    <style>
    .footer{
        left: 0;
    }
    </style>

{% endblock %}