{% extends 'layout/../layout/base.html' %}
{% load static %}
{% block content %}
    <div class="col-1">
        <a href="/"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="row margin">
        <div class="col-1"></div>
        <div class="col-11">
            <h1 class="title" id="editable">{{ garden }}</h1>
            <a id="edit" href="#" data-toggle="modal" data-target="#update_garden"><i class="fas fa-pen"></i></a>
            <div class="margin-left margin ">
                <div class="row ">
                    <div class="col-xl-9  col-lg-8 col-7">
                        <h3 class="dimgray">{{ garden.city }}</h3>
                        <div class="row margin text-center garden">
                            {% for area in garden.area_set.all %}
                                <a>
                                    <div class="col-lg-2 col-md-3 col-sm-5 col-7 area margin-bottom ">
                                        <a href="/{{ area.id }}/area_detail/">{{ area.name }}</a>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-2 col-4 weather-box  weather-info-list text-center">
                            <p class="day_of_week"><b>{{ weather.day }}</b></p>
                            <img class="weather-image-icon" src="{% static weather.weather_icons_path %}"
                                 alt="Weather icon">
                            <p class="weather-description">{{ weather.description }}</p>
                            <p style="color:orange"><b>{{ weather.temp }}</b></p>
                            <p><b>possibilità di precipitazioni: {{ weather.precipitation }}% </b></p>
                    </div>
                </div>
                <div class="row margin margin-bottom">
                    <div class="col">
                        <a class="btn green-button" data-toggle="modal" data-target="#add_area"> Aggiungi area</a>
                        <a class="btn red-button" data-toggle="modal" data-target="#delete_garden">Elimina il
                            giardino</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    
    <!-- Modal for area creation -->
    <div class="modal fade" id="add_area" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crea nuova area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method='POST'> {% csrf_token %}
                        {{ create_form.as_p }}
                        <div class="modal-footer">
                            <input class="btn green-button" type="submit" name="create" value="Salva">
                            <a class="btn green-button" data-dismiss="modal">Annulla</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal for garden deletion -->
    <div class="modal fade" id="delete_garden" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Elimina giardino</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method='POST'> {% csrf_token %}
                        <p>Procedere con l'eliminazione?</p>
                        <div class="modal-footer">
                            <input class="btn red-button" type="submit" name="delete" value="Elimina"/>
                            <a class="btn green-button" data-dismiss="modal">Annulla</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal for garden update -->
    <div class="modal fade" id="update_garden" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifica giardino</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method='POST'> {% csrf_token %}
                        {{ update_form.as_p }}
                        <div class="modal-footer">
                            <input class="btn green-button" type="submit" name="update" value="Salva">
                            <a class="btn green-button" data-dismiss="modal">Annulla</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}


