{% extends 'layout/../layout/base.html' %}

{% block content %}

    <div class="clearfix">
        <a class="btn green-button left" href="/calendar"> Back to calendar </a>
    </div>

    <form method="post">
        {% csrf_token %}
        <table class="form form-table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn green-button right"> Submit</button>
                </td>
                 {% if  request.get_full_path != "/calendar/new/" %}
                <td colspan="3"><a class="btn red-button" href="../delete/">Elimina l'evento</a></td>
                {% endif %}
            </tr>
        </table>
    </form>
{% endblock %}
