{% extends 'layout/../layout/base.html' %}
{% block content %}
    <div class="col-1">
        <a href="/{{ area.id }}/area_detail"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="row margin ">
        <div class="col-1"></div>
        <div class="col-11">
            <h1>Irrigazione programmata della zona {{ area.name }}</h1>
            <div class="row settings">
                <div class="col-md-8 col-10" style="margin-bottom: 50px">
                    <p class="description">
                        Questa area viene annafiata <br>
                        <strong>{{ irrigation_settings.get_frequency_display }}</strong>
                        per <strong>{{ irrigation_settings.duration }}</strong><br>
                        alle {{ irrigation_settings.hour | time }}
                    </p>
                    <a class="margin-left dropdown-toggle" data-toggle="collapse" href="#settings" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        <h4 id="edit-title">modifica le impostazioni</h4>
                    </a>

                    <div class="collapse margin " id="settings">
                        <form class= 'margin-left' method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="margin">
                                <input class="btn green-button" type="submit" value="Salva">
                                <a class="btn  green-button" href="/">Annulla</a>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="col-md-4 col-10 ">
                    {% include 'includes/../includes/irrigation_list.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}